<html ng-app="appMaps" charset="UTF-8">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1.0, user-scalable=0, minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-title" content="UGA Buses">
		<link rel="apple-touch-icon" href="assets/apple-icon.png">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link href='stylesheets/styles.css' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
		<script type="text/javascript" src="//maps.googleapis.com/maps/api/js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/lodash.min.js"></script>
		<script type="text/javascript" src="js/angular-google-maps.min.js"></script>
		<script type="text/javascript" src="angular-main.js"></script>
	</head>
	<body ng-controller="mainCtrl">
		<div class="top-announcement">
			<p ng-bind-html="topMessage | sanitize"></p>
			<div><div></div><span>&#9650;</span></div>
		</div>
		<div style="position:relative; width: 100%; height:100%">
			<div class="menu">
				<ul class="routes">
					<p ng-show="geolocation">Current Location: <br><img src="assets/current_location_noani.gif" style="margin-bottom: -4px;" /><span>ON</span></p>
					<p ng-hide="geolocation">Current Location: <br><img src="assets/current_location_disable.gif" style="margin-bottom: -4px;" /><span>OFF</span></p>
					<p>Current Routes</p>
					<li ng-repeat="r in routes track by r.id"><a class="{{r.gMapObject.visible && 'active'}}" ng-click="toggleRouteVisibility($index)"><span style="background-color:{{r.color}}"></span> {{r.shortName}}</a></li>
				</ul>
				<ul>
					<li><a ng-click="toggleAllRoutesVisibility(false)">All Routes Off</a></li>
					<li><a ng-click="toggleAllRoutesVisibility(true)">All Routes On</a></li>
					<li><a ng-click="toggleStopMarkersVisibility()" class="{{stopsVisibilityOppositeStatus == 'Off' && 'active'}}">Turn Stops {{stopsVisibilityOppositeStatus}}</a></li>
					<!-- <li><a ng-click="getClosestBustopID()">Get Closest Stop</a></li> -->
					<li><a href="info.html">More Info</a></li>
				</ul>
			</div>
			<div class="announcement" style="display:{{announcement.visible ? 'inline-block' : 'none'}}">
				<p>{{announcement.message}}<br>Tap this message to close.</p>
			</div>
			<div id="map">
				<div class="menubutton">
					<a class="border-menu"></a>
				</div>
				<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" control="googleMap"></ui-gmap-google-map>
			</div>
		</div>
		<script type="text/javascript" src="js/otherscripts.js"></script>
	</body>
</html>