body { width:100%; height:100%; margin:0; overflow: hidden;}
#map { width:100%; height:100%; border-left: 1px solid rgba(0, 0, 0, 0.14902);}
.angular-google-map-container { height: 100%; width: 100%;}
.menu {
	display: none;
	width: 200px;
	height: 100%;
	max-height: 100%;
	overflow: scroll;
	position: absolute;
	top: 0;
	left: 0;
}
.menu ul {
	list-style-type: none;
	display: block;
	padding: 0;
	margin: 0;
}
.menu ul * {
	color: #222;
	font-family: 'Open Sans', sans-serif;
}
.menu ul li a {
	padding: 20px;
	display: block;
	border-bottom: 1px solid rgba(0, 0, 0, 0.14902);
	text-decoration: none;
}
.menu ul.routes p {
	padding: 10px 10px 10px 20px;
	display: block;
	border-bottom: 1px solid rgba(0, 0, 0, 0.14902);
	margin: 0;
	font-weight: bold;
}
.menu ul.routes a {
	padding: 10px 10px 10px 35px;
	position: relative;
}
.menu ul.routes a span {
	width: 10px;
	height: 6px;
	display: inline-block;
	position: absolute;
	top: 18px;
	left: 20px;
}
.menu ul a.active {
	background-color: #43AC6A;
	color: #fff;
}
.menubutton {
	position: absolute;
	display: inline-block;
	top: 6px;
	left: 0;
	height: 40px;
	width: 37px;
	background-color: #fff;
	z-index: 1;
	border: 1px solid rgba(0, 0, 0, 0.14902);
	box-shadow: rgba(0, 0, 0, 0.298039) 3px 1px 4px -1px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-left: none;
	text-align: center;
	font-size: 25pt;
}
.border-menu {
	position: relative;
	padding-left: 0.75em;
}
.border-menu:before {
	content: "";
	position: absolute;
	top: 0.25em;
	left: 0;
	width: 0.7em;
	height: 0.125em;
	border-top: 0.375em double;
	border-bottom: 0.125em solid;
	border-color: #444;
}

.announcement {
	z-index: 2;
	background-color: white;
	position:absolute;
	display: inline-block;
	top: 36%;
	left: 8%;
	height: 16%;
	width: 84%;
	box-sizing: border-box;
	outline: thick solid rgba(255,255,255,0.7);
}
.announcement p {
	color: #666;
	font-size: 1em;
	font-style: italic;
	text-align: center;
}

.full-width {
	width: 96%;
	font-family: 'Open Sans', sans-serif;
	color: #222;
	padding: 2%;
}
.full-width a {
	color: #008CBA;
	text-decoration: none;
}
.center {
	text-align: center;
}
.word-break{
	word-break: break-all;
}

.top-announcement{
	display: block;
	height: auto;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	color: #222;
	padding: 2%;
	box-shadow: 0px 3px 8px #888888;
	position: absolute;
	z-index: 2;
	width: 100%;
	background-color: white;
	box-sizing: border-box;
	margin-top: -100%;
}
.top-announcement p {
	text-align: center;
	max-width: 100%;
	margin: 0;
}
.top-announcement div {
	background-color: white;
	width: 33%;
	height: 12px;
	margin-left: 33%;
	position: absolute;
	top: 100%;
	left: 0;
	display: block;
	box-shadow: 0px 3px 8px #888888;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	text-align: center;
	padding-bottom: 8px;
}
.top-announcement div div {
	background-color: white;
	width: 100%;
	height: 4px;
	position: absolute;
	top: -3px;
	left: 0;
	box-shadow: none;
	border-radius: 0;
	margin: 0;
	padding: 0;
}
.button {
	padding: 10px 20px;
	background-color: rgb(0, 139, 185);
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	cursor: pointer;
	box-sizing: border-box;
	transition: all .25s ease-in-out;
   -moz-transition: all .25s ease-in-out;
   -webkit-transition: all .25s ease-in-out;
}
.button:hover {
	background-color: #007295;
	transition: all .25s ease-in-out;
   -moz-transition: all .25s ease-in-out;
   -webkit-transition: all .25s ease-in-out;
}
.right {
	float: right;
}
.left {
	float: left;
}
.center {
	text-align: center;
}